* {
  box-sizing: border-box;
}

/* 페이지 전환 시 덜컥거림 방지 */
html {
  overflow-y:scroll;
}

html,body {
  height: 100%;
}

#view {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* 모달창 */

#overlayWrapper {
  position: relative;
  /* display: flex;
  justify-content: flex-start;
  flex-direction: column; */
  width: 100%; 
  min-height: 700px;
  /* position: fixed; */
  position: fixed;
}

#overlayView {
  display: flex;
  justify-content: center;
  flex-direction: column;
  filter: brightness(60%);
  background-color: rgba(0,0,0, 0.4);
}

#modalFrame {
  position: fixed;
  background-color: rgb(255, 255, 255);
  z-index: 2;
  left: 15%;
  top: 0;
  margin-top: 100px;
  height: 70%;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  flex-direction: column;
  box-shadow: 0.5em 0em 0.6em 0em rgb(45, 45, 45),
  -0.5em 0.5em 0.6em 0em rgb(45, 45, 45); 
}

.modalBorder {
  border: 1px solid rgb(0, 0, 0);
  height: 20px;
  width: 150px;
}

.modalLogo {
  /* border: 1px solid rgb(0, 0, 0); */
  height: 150px;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modallogoImg {
  height:60%;
  width: auto;
}

.modalLogoText1 {
  text-align: center;
  font-size: 20px;
}

.modalLogoText2 {
  text-align: center;
  font-size: 13px;
}

.modalUserId {
  width: 80%;
  height: 50px;
  margin: 15px 0;
  font-size: 20px;
  text-align: center;
}

.modalUserPassWord {
  text-align: center;
  width: 80%;
  height: 50px;
  margin-bottom: 15px;
  font-size: 20px;
}

.modalLogin {
  width: 200px;
  height: 50px;
  margin-top: 15px;
  font-size: 30px;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: #8e8e8e;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.modalKakao {
  height: 50px;
  width: 200px;
  margin: 15px;
  cursor: pointer;
}

.modalSignUp {
  margin-top: 15px;
  cursor: pointer;
}

.modalNonMember {
  margin: 20px 0;
  cursor: pointer;
}

@media screen and (min-width: 900px) {
  .modalUserId {
    width: 80%;
    height: 50px;
    margin-top: 10px;
    font-size: 20px;
  }

  .modalUserPassWord {
    width: 80%;
    height: 50px;
    margin-bottom: 20px;
    font-size: 20px;
  }

  .modalLogin {
    width: 325.33px;
    height: 80px;
    margin-top: 10px;
    /* padding-top: 2.5%; */
    font-size: 30px;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: #8e8e8e;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .modalKakao {
    height: 80px;
    width: auto;
    margin: 10px;
  }
}

@media screen and (max-height: 665px) {
  /* .modalLogo {
    display: flex;
    justify-content: center;
  } */
  .modallogoImg {
    margin-left: 25%;
    height: 60%;
    width: 50%;
  }

  .modalLogoText1 {
    display: none;
  }
  
  .modalLogoText2 {
    display: none;
  }

  .forSignupLogo {
    margin-top: -30px;
    height: 100px;
  }
}

.SignUp {
  width: 80%;
  height: 30px;
  margin: 5px 0;
  font-size: 20px;
  text-align: center;
}

.checkPw {
  width: 100%;
  text-align: center;
}

.SignUpButton {
  width: 200px;
  height: 40px;
  margin-top: 5px;
  font-size: 30px;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: #8e8e8e;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}



@media screen and (max-height: 637px) {
  .modalLogo {
    /* border: 1px solid rgb(0, 0, 0); */
    height: 100px;
  }

  .modallogoImg {
    margin-left: 25%;
    height: 70%;
    width: 50%;
  }

  .modalUserId {
    margin-top: 0;
  }

  .modalUserPassWord {
    margin-bottom: 0;
  }

  .modalSignUp {
    margin-top: 2px;
  }
  
  .modalNonMember {
    margin: 10px 0;
  }

  .forSignupLogo {
    margin-bottom: -10px;
  }

  .SignUpButton {
    height: 30px;
    font-size: 20px;
  }

  .SignUp {
    height: 35px;
  }
}
/* ----------------- nav ------------------*/ 
#nav {
  display: flex;
  /* border: 1px solid blue; */
  padding: 5px;
  width: 100%;
  margin: 0 0 5px 0;
  justify-content: center;
  height: 80px;
}

#navLeft {
  flex: 1 1 auto;
  width: 30%;
}

#navCenter {
  display: flex;
  flex: 1 1 auto;
  margin: 0 5px 0;
  width: 30%;
  justify-content: center;
}

#logo {
    height: 70px;
    width: 68px;
}

#navRight {
  flex: 1 1 auto;
  display: flex;
  width: 30%;
  justify-content: flex-end;
}

.navContents {
  /* border: 1px dotted rgb(144, 144, 240);  */
  padding: 5px;
  width: 300px;
  text-align: center;
}

#navMap {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#mapImg {
  height: 50px;
  width: 44px;
}

#navMypage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

#mypageImg {
  margin-top: -7px;
  height: 45px;
  width: 44px;
}

@media screen and (max-width: 500px) {    
  #nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 140px;
  }

  #navLeft {
    display: none;
  }

  #navCenter {
    align-items: center;
    width: 100%;
  }

  #mypageImg {
    margin-top: 0px;
  }

  #navRight {
    display: flex;
    align-items: center;
    width: 100%;
  }
}

/* ----------------- map ------------------*/ 
#mapAndList {
  display: flex;
  height: 100%;
  width: 100%;
}
#map {
  /* border: 1px solid green; */
  margin: 0 5px 0 0;
  width: 70%;
  height: 800px;
}

/* ----------------- list after login page ------------------*/ 
#list {
  display: flex;
  /* border: 1px solid rgb(205, 205, 38); */
  flex-direction: column;
  justify-content: flex-start;
  width: 30%;
}

/* #enroll {
  border: 3px solid rgb(0, 0, 0);
  border-radius: 10px;
  margin: 0 5px 0;
  height: 60px;
  display: flex;
  justify-content: center;
} */

#enroll {
  /* border: 3px solid rgb(0, 0, 0); */
  border-radius: 10px;
  background-color: #8e8e8e;
  margin: 0 5px 0;
  height: 60px;
  display: flex;
  justify-content: center;
}

#enrollText {
  margin-top: 13px;
  font-size: 26px;
  margin-top: 16px;
  color: #ffffff;
}

#enrollImg {
  height: 80%;
  margin-top: 5px;
  margin-right: 2%;
}

/* #enrollText {
  margin-top: 13px;
  font-size: 26px;
  margin-left: 2%;
} */

.listEl {
  display: flex;
  margin: 1% 5% 0;
  border-bottom: 2px solid #8e8e8e;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.listPlaceName {
  font-size: 20px;
  font-weight: bold;
  /* flex: 1 1 auto; */
  height: 40px;
  text-align: center;
  margin: 2% 0;
}

.listPlaceUser {
  margin: 1% 0;
  /* flex: 1 1 auto; */
  height: 30px;
  text-align: center;
}

.countLikeOrDislike {
  display: flex;
  justify-content: center;
  /* flex: 1 1 auto; */
  height: 30px;
}

.listLike {
  display: flex;
  flex: 1 1 auto;
  margin: 0 5px 0;
  justify-content: center;
}

.countImg {
  max-width:50%; 
  height:auto;
}

.dislistLike {
  display: flex;
  flex: 1 1 auto;
  margin: 0 5px 0;
  justify-content: center;
}


@media screen and (max-width: 1000px) {
  #mapAndList {
    display: flex;
    flex-direction: column;
    /* height: 850px; */
  }

  #map {
    /* min-height: 400px; */
    height: 400px;
    margin: 0 0px 0 0;
    width: 100%;
  }

  #list {
    /* border: 1px solid rgb(205, 205, 38); */
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    flex: 3 1 auto;
  }
  
}

/* ----------------- myPage ------------------*/ 
#myPage {
  display: flex;
  /* border: 1px solid rgb(29, 183, 239); */
  height: 600px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

#userName {
  height: 411px;
  margin: 19px 10% 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.userForm {
  display: flex;
  justify-content: center;
}

#userNameImg {
  height: 25px;
  width: 24px;
  margin-top: 2px;
}

.userEl {
  font-size: 25px;
  margin-left: 2%;
}

.userInput {
  margin-bottom: 6px;
  border-bottom: 3px solid #8e8e8e;
  margin-top: 20px;
  font-size: 30px;
}

#email {
  height: 411px;
  margin: 19px 10%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;;
}

#nickName {
  height: 411px;
  margin: 0 10% 19px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;;
}

@media screen and (max-width: 500px) {  
  #myPage {
    height: 400px;
  }

  #userName {
    height: 93px;
  }

  #email {
    height: 93px;
  }

  #nickName {
    height: 93px;
  }
}
/* ----------------- use in anything for center------------------*/ 
#forCenter {
  display: flex;
  height: 15%;
  justify-content: center;
}
/* ----------------- use in anything for center------------------*/ 

#editPassword {
  height: 40px;
  margin: 19px 2%;
  width: 40%;
  text-align: center;
  border: 3px solid #8e8e8e;
  background-color: #8e8e8e;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.passwordText {
  color: rgb(255, 255, 255);
  margin-top: 0.5px;
}

/* ----------------- PlaceUpload ------------------*/ 
#PlaceUpload {
  display: flex;
  /* border: 1px solid rgb(29, 183, 239); */
  height: 500px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

.initText {
  height: 50px;
  text-align: center;
  padding-top: 15px;
}

#placeName {
  height: 150px;
  margin: 0 5%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inputPlaceName {
  align-items: center;
  height: 50px;
  font-size: 20px;
  border: #ffffff;
}

.forPlaceBottom {
  border-top: 1px solid #8e8e8e;
  margin-top: 20px;
}

#placeDetail {
  height: 150px;
  margin: 0 5%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inputPlaceDetail {
  align-items: center;
  height: 50px;
  font-size: 20px;
  border: #ffffff;
}
/* 
#registerPlace {
  height: 100px;
  width: 30%;
  margin: 0 5%;
  text-align: center;
  border-bottom: 1px solid #dadada;
} */

/* ----------------- ListDetail ------------------*/ 
#listDetail {
  display: flex;
  /* border: 1px solid blue; */
  padding: 5px;
  height: 90%;
  width: 100%;
  justify-content: center;
  flex-direction: column;
}

#detail {
  display: flex;
  padding: 5px;
  height: 20%;
  margin: 0 0 5px;
  justify-content: center;
  flex-direction: column;
}

#detailPlaceName {
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-start;
  align-items: center;
}

.fstPlaceEl {
  font-size: 23px;
}

#placeEl {
  margin: 0 0 0 3%;
  font-size: 25px;
}

#detailPlaceDetail {
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-start;
  flex-direction: column;
}

#detailUserId {
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-start;
  align-items: center;
}

#likeOrDislike {
  display: flex;
  padding: 5px;
  height: 10%;
  /* max-width: 850px; */
  /* flex-direction: column; */
  justify-content: space-around;;
}

.forLikeOrDislikeFrame {
  width: 100%;
  
}

.count {
  font-size: 40px;
  width: auto;
  text-align: center;
}

#like {
  display: flex;
  flex: 0.1 1 auto;
  justify-content: center;
}

.likeOrDislikeImg {
  width: 48px;
  height: 39px;
}

#likeOrDislikeText {
  font-size: 25px;
  margin: 5px 0 0 10px;
}

#disLike {
  display: flex;
  /* border: 1px solid rgb(0, 0, 0); */
  flex: 0.1 1 auto;
  margin: 0 0 0 1%;
  justify-content: center;
}

#message {
  display: flex;
  /* border: 1px solid rgb(29, 183, 239); */
  padding: 5px;
  height: 60%;
  margin: 0 0 5px 0;
  justify-content: flex-start;
  flex-direction: column;
}

#userMessage {
  display: flex;
  border-top: 3px solid #8e8e8e;
  flex-direction: column;
  margin: 3% 1% 1% 1%;
  height: 40%;
}

#userId {
  flex: 0.5 1 auto;
  /* border: 1px solid rgb(0, 0, 0); */
  margin: 4%;
  width: 40%;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

#userText {
  flex: 1 1 auto;
  text-align: center;
  border-color: rgb(255, 255, 255);
  font-size: 20px;
}

.forUserMessageTop {
  border-top: 1px solid #8e8e8e;
  margin-bottom: 5px;
}

#forAlignButton {
  height: 35px;
  display: flex;
  justify-content: flex-end;
}

#messageButton {
  display: flex;
  justify-content: center;
  background-color: #8e8e8e;
  width: 30%;
  margin: 0 5% 0 0;
  border-radius: 10px;
  cursor: pointer;
}

#messageButtonImg {
  max-width:30%; 
  height:80%;
  margin-top: 3px;
}

#messageButtonText {
  font-size: 20px;
  margin-top: 7px;
  color: rgb(255, 255, 255);
}

#questList {
  display: flex;
  margin: 5% 1% 1%;
  flex-direction: column;
  border-bottom: 2px solid #8e8e8e;
}

#idOrDate {
  flex: 1 1 auto;
  display: flex;
  justify-content: space-between;
}

.guestId {
  font-size: 20px;
  font-weight: bold;
}

.guestText {
  font-size: 20px;
  text-align: center;
} 

@media screen and (min-width: 1000px) {  
  .forListDeFrame{
    display: flex;
    justify-content: center;
  }
  #listDetail {
    max-width: 800px;
  }
}

/* ----------------- 인수님이 나중에 이것 좀 손봐주세요! ------------------*/ 
.easterEgg {
  display: flex;
  justify-content: center;
}

.portrait {
  width: 200px;
  height: 200px;
}